OPENAI_API_KEY=
# The number of results to return from a similarity search
# https://api.python.langchain.com/en/latest/modules/vectorstores.html#langchain.vectorstores.Chroma.similarity_search
CHROMA_K_VALUE=5